/12516_SubstringReversal/__pycache__
/12516_SubstringReversal/.idea
/.idea/codeStyleSettings.xml
/.idea/.name
/.idea/TopCoder.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/13235_InverseRMQ/__pycache__/main.cpython-34.pyc
